@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.flight-booking-section {
    background-color: #d0b2001a;
}

.search-button {
    background-color: #00cccc;
    border-width: 0px;
    border: none;
    margin-left: 10px;
}

.flight-image {
    width: 30px;
    height: 30px;
}

.flight-item-image {
    height: 50vh;
    border-radius: 16px;
}

.input-container {
    height: 40px;
    width: 60%;
    border-radius: 10px;
    outline: none;
    border-width: 0px;
    margin-left: 12px;
}

.follow-us-section {
    background-color: white;
}

.follow-us-section-heading {
    text-align: center;
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
    outline: none;
    border: none;
    padding
}

.follow-us-icon-container {
    background-color:#faf7e8;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin: 15px;
    padding-top: 22px;
    padding-bottom: 14px;
    padding-right: 16px;
    padding-left: 22px;
}

.icon {
    color: #d0b200;
    font-size: 35px;
}

.footer-section {
    background-color: #0d2436;
}

.footer-section-mail-id {
    color: #959ead;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
}

.footer-section-address {
    color: #959ead;
    font-family: "Roboto";
    font-size: 14px;
}

.thanking-customers-section {
    background-color: #d0b2001a;
}

.thanking-customers-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.thanking-customers-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}

.thanking-customers-section-img {
    width: 100%;
    margin-bottom: 20px;
}

.custom-button {
    color: white;
    background-color: #00cccc;
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
}

.hotel-logo {
    height: 200px;
    width: 200px;
}




.hotel-booking-section {
    background-color: #f9fbfe;
    background-image: url("https://assets.ccbp.in/frontend/static-website/flats-list-bg.png");
    flex-grow: 0;
}

.card-1 {
    background-color: white;
    box-Shadow: "rgba(0, 0, 0, 0.35) 0px 5px 15px";

}

.card-title {
    font-size: 24px;
}

.hotel-heading {
    color: black;
    font-size: 20px;
    font-family: "Roboto";
    font-weight: bold;
    margin: 5px;
}

.hotel-description {
    color: black;
    font-size: 20px;
    font-family: "Roboto";

}

.hotel-booking-image {
    min-height: 30vh;
    min-width: 60vw;
    align-self: center;
}

.hotel-booking-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.hotel-booking-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}

.custom-button-1 {
    color: white;
    background-color: #00cccc;
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
}

.border1 {
    border-radius: 10px;
}

.item-link {
    color: #d0b200;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
}

.travel-name {
    font-size: 18px;
    font-family: "Roboto";
    color: black;
    margin-top: 10px;
    font-weight: 500;
}

.travel-cost {
    font-size: 15px;
    font-family: "Roboto";
    color: black;
    margin-top: 10px;
    font-weight: 500;
}

.menu-item-image {
    border-radius: 16px;

}

.heading {
    font-size: 20px;
    color: black;
    font-weight: bold;
    font-family: "Roboto";

}

.wcu-section {
    background-color: #f9fbfe;
}

.section-heading {
    color: #00284d;
    font-family: "Sans-serif";
    font-size: 28px;
    font-weight: 700;
}

.section-heading-1 {
    color: #00cccc;
    font-family: "Fangsong";
    font-size: 28px;
    font-weight: 700;
}

.section-description {
    font-size: 16px;
    color: #5a7184;
    font-family: "Robort";

}

.item-card {
    text-align: center;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #e5eaf4;
    border-radius: 8px;
}

.wcu-card-image {
    width: 150px;
    height: 150px;
}

.item-heading {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 22px;
    font-weight: 500;
}

.item-description {
    color: #7b8794;
    font-family: "Roboto";
    font-size: 16px;
}

.home-container {
    background-image: url("https://static.wixstatic.com/media/2d34e5_f31b7f79c757410d8aab04ca606bcbe4~mv2.png/v1/fill/w_1225,h_704,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/2d34e5_f31b7f79c757410d8aab04ca606bcbe4~mv2.png");
    height: 90vh;
    background-size: cover;
}

.wcu-section {
    background-color: #f9fbfe;

}

.head-1 {
    color: #00cccc;
    font-size: 30px;
    font-family: "Bree Serif";
    font-weight: 500;
    padding: 20px;

}

.para-3 {
    color: black;
    font-size: 18px;
    font-family: "Beer Serif";
    font-weight: 500;
    padding: 10px;
}

.location-image {
    height: 8vh;
    width: 8vw;
}

.b-1 {
    color: white;
    background-color: #00cccc;
    height: 40px;
    width: 136px;
    margin-top: 20px;
    margin-right: 10px;
}




.home-heading {
    color: white;
    font-size: 45px;
    font-weight: 600;

}

.travel-caption {
    color: #f5f7fa;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 300;
}

.image1 {
    height: 120px;
    width: 120px;

}

#navitem1 {
    color: #323f4b;
    font-family: "Roboto";
}

#navitem2 {
    color: #323f4b;
    font-family: "Roboto";
}

#navitem3 {
    color: #323f4b;
    font-family: "Roboto";
}

#navitem4 {
    color: #323f4b;
    font-family: "Roboto";
}